
 body{
    background-color:#e9f2c2;

     div{
         a{
            color: black;
            font-size: 20px;
            font-family: sans-serif;
            margin: 15px;
            font-weight: bold;
    
            }
  
        }
        %inh{
            margin: 20px;
            padding: 10px;
          }

        #menu{
            @extend %inh;
        }

        h1{
            @extend %inh;
        }

        .row > div {
            padding: 10px;
            margin: 10px;
        }

        img{
            height:200px;
            width: 200px;
          
          }
                
}
    
